<div id="footer-wrapper">
    <div id="footer" class="container">
        <header class="major">
            <h2>Ask a question or contact us</h2>
            <p>Don't worry, we won't use your e-mail address for any other purpose.</p>
        </header>
        <div class="row">
            <section class="6u">
                <form method="post" class="contact-form" data-action-path="http://forms.brace.io/chrislim@theotech.org">
                    <div class="row collapse-at-2 half">
                        <div class="6u">
                            <input name="name" placeholder="Name" type="text" />
                        </div>
                        <div class="6u">
                            <input name="email" placeholder="Email" type="text" />
                        </div>
                    </div>
                    <div class="row half">
                        <div class="12u">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row half">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                                <li><input type="reset" value="Clear form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            <section class="6u">
                <div class="row collapse-at-2 flush">
                    <ul class="divided icons 12u">
                        <li class="icon fa-twitter"><a href="https://twitter.com/meritandgrace">Our Founder's Twitter</a></li>
                        <li class="icon fa-facebook"><a href="https://www.facebook.com/groups/208061215959591/">TheoTech Discussion Group on Facebook</a></li>
                        <li class="icon fa-github"><a href="https://github.com/TheoTech">TheoTech on GitHub</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="menu">
            <li>&copy; TheoTech. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>
