<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        {{> nav }}
    </div>

    <!-- Hero -->
    <section id="hero" class="container">
        <header>
            <h2>
		Do what you love for a cause that matters.
            </h2>
        </header>
	<p>Getting the gospel to everyone on earth requires invention, creativity, skill and passion. We dream of developing and unleashing the gifts God has given you to make it happen.</p>
	<ul class="actions">
            <li><a href="#promo-video" class="button">Watch an example <span class="icon fa-angle-double-down" style="position:relative;top:0.1em;left:0.2em"></span></a></li>
        </ul>

        <div id="promo-video" class="video-container">
            <iframe width="560" height="315"
                    src="http://www.youtube.com/embed/hNCyqX-4PBY?rel=0" frameborder="0" allowfullscreen>
            </iframe>
        </div>

	<ul class="actions">
            <li><a href="#promo-wrapper" class="button">Where do I sign up?</a></li>
	    <li><a href="#what-do-you-do-" class="button">Tell me more</a></li>
        </ul>

    </section>
</div>
