<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Logo -->
        <!--<h1 id="logo"><a href="index.html">Telephasic</a></h1>-->
        {{> nav }}

    </div>

    <!-- Hero -->
    <section id="hero" class="container">
        <header>
            <h2>
		{{> logo }}
            </h2>
        </header>

        <ul class="actions">
            <li><a href="#footer-wrapper" class="button">Accelerate the Gospel</a></li>
        </ul>

        {{md 'src/content/intro.md'}}

        <!-- video goes here
        <div class="video-container">
            <iframe width="560" height="315"
                    src="http://www.youtube.com/embed/hNCyqX-4PBY?rel=0" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        -->

    </section>

</div>
