<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Logo -->
        <!--<h1 id="logo"><a href="index.html">Telephasic</a></h1>-->

        {{> nav }}

    </div>

    <!-- Hero -->
    <section id="hero" class="container">
        <header>
            <h2>Welcome to Theotech</h2>
        </header>
        <p>Technology and Entrepreneurship for the Gospel</p>
        <div class="video-container">
            <iframe width="560" height="315"
                    src="http://www.youtube.com/embed/hNCyqX-4PBY?rel=0" frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <ul class="actions">
            <li><a href="#" class="button">Get this party started</a></li>
            <li><a href="#" class="button">Here's another button</a></li>
        </ul>
    </section>

</div>