<!-- Logo -->
<div id="logo">
    <a href="index.html">
        {{> logo }}
    </a>
</div>

<nav id="nav">
    <ul>
        <li>
            <a href="index.html#people1">About Us</a>
            <ul>
                <li><a href="investors.html">For Investors</a></li>
                <li><a href="entrepreneur.html">For Entrepreneurs</a></li>
                <li><a href="ministry.html">For Ministry Leaders</a></li>
                <li><a href="technologist.html">For Technologists</a></li>
                <li><a href="student.html">For Students/Volunteers</a></li>
            </ul>
        </li>
        <li>
            <a href="products.html">Products</a>
            <ul>
                <li><a href="products.html#sub1">SPF.IO</a></li>
                <li><a href="products.html#sub2">Project FIG</a></li>
                <li><a href="products.html#sub3">Ceaseless</a></li>
            </ul>
        </li>
        <li><a target="_blank" href="http://signup.theotech.org">Community</a></li>
        <li class="break"><a target="_blank" href="https://www.youtube.com/c/theotechorg/videos">Podcast</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="#footer-wrapper">Contact Us</a></li>
    </ul>
</nav>
