<!-- Logo -->
<div id="logo">
    <a href="index.html">
        {{> logo }}
    </a>
</div>

<nav id="nav">
    <ul>
        <li>
            <a href="index.html#people1">People</a>
            <ul>
                <li><a href="investors.html">Investors</a></li>
                <li><a href="entrepreneur.html">Entrepreneurs</a></li>
                <li><a href="ministry.html">Ministry Leaders</a></li>
                <li><a href="technologist.html">Technologists</a></li>
                <li><a href="student.html">Students/Volunteers</a></li>
            </ul>
        </li>
        <li>
            <a href="products.html">Products</a>
            <ul>
                <li><a href="products.html#sub1">SPF.IO</a></li>
                <li><a href="products.html#sub2">Project FIG</a></li>
                <li><a href="products.html#sub3">Ceaseless</a></li>
            </ul>
        </li>
        <li><a href="community.html">Community</a></li>
        <li class="break"><a href="academy.html">Academy</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="#footer-wrapper">Contact Us</a></li>
    </ul>
</nav>
