<div class="row">
	<section class="12u">
		<form method="post" class="contact-form" data-action-path="http://formspree.io/chrislim@theotech.org">
                    <div class="row collapse-at-2 half">
                        <div class="5u">
                            <input name="name" placeholder="Name" type="text" />
                        </div>
                        <div class="5u">
                            <input name="email" placeholder="Email" type="text" />
			    <input name="theotech-signup" type="hidden" />
                        </div>
			<div class="2u">
				<input type="submit" value="Submit"/>
			</div>
                    </div>
                </form>
	</section>
</div>
