---
title: Entrepreneurs
intro: Pioneering the next inovative Gospel-centric idea?
layout: src/templates/layouts/people.hbs
sub1: Connect
paragraph1: Find people to connect to
link1: community.html
sub2: Jobs/Opportunities
paragraph2: Looking for a job or for people to hire?
link2: community.html
sub3: Contact Us
paragraph3: We'd love to hear from you!
link3: "#footer-wrapper"
---

<p>Vision/Purpose: What is Gospel-minded entrepreneurship? </p>
<p>If we're going to pioneer the next invention, we need others to collaborate and build. Pioneering -> need each other</p>
<p>Recruite people to a cause / THE caus, which is the Gospel. Find other like minded entrepreneurs who want to put
their work into furthering the gosple.</p>
<p>Entrepreneur for the Gospel teaching series (Theology of Entrepreneurship)</p>
<p>You are not alone! We can't do this alone, so we got you and we trust you to build us up too!</p>

