---
title: Entrepreneurs
intro: Pioneering the next innovative Gospel-centric idea?
layout: src/templates/layouts/people.hbs
sub1: Connect
paragraph1: Find people to connect to
link1: community.html
sub2: Jobs/Opportunities
paragraph2: Looking for a job or for people to hire?
link2: community.html
sub3: Contact Us
paragraph3: We'd love to hear from you!
link3: "#footer-wrapper"
---

<p>What does Gospel-minded entrepreneurship look like? At Theotech, we have a few ideas: </p>
<p>First, we start with God as our employer. We believe God graces us with business ideas, creativity, and resources,
    and holds us accountable for how we use what has been given to us. </p>
<p>Next, we view God as our partner. How we define a company’s culture, reputation, and operations often depend on its
    workers. Since, businesses take time to grow and cultivate, we look forward to working with God as He shapes the
    landscapes of our company.</p>
<p>Finally, we end with God as the ultimate customer, and work backwards to create businesses and products that we
    believe our customer enjoys. By doing so, we believe the church and the world at large can be blessed by the things
    we create, because we care about our customer’s concerns.</p>
<p>Thus, “for from Him and through Him and for Him are all things” (Romans 11:36). </p>
<p>Remember, you are not alone! If we're going to pioneer the next Gospel-centered invention, we need to invite others
    to join us in collaborating and building together. Theotech is a community where entrepreneurs, like you, can find
    resources to get their idea going and contribute to the works of others.</p>
<p>[Other Notes: Recruit people to a cause / THE cause, which is the Gospel. Find other like-minded entrepreneurs who
    want to put their work into furthering the gospel. Entrepreneur for the Gospel teaching series (Theology of
    Entrepreneurship) You are not alone! We can't do this alone, so we got you and we trust you to build us up too!]</p>