---
title: Investors
intro: Invest in Kingdom-minded people to create Gospel-centered projects and technologies
layout: src/templates/layouts/people.hbs
sub1: Partnership
paragraph1: Get involved at Theotech!
link1: #footer-wrapper
sub2: Donate
paragraph2: Financially support Theotech!
link2: #footer-wrapper
sub3: Contact Us
paragraph3: We'd love to hear from you!
link3: "#footer-wrapper"
---

<p>Theotech's philosophy of Investment</p>
<p>Notes: we want to create the atmosphere of excitement. We want you to feel excited to invest in us</p>
<p>We want to convince you that there is nowhere else you want to donate to, because of the Kingdom
    mindset / outreach</p>
<p>Vestibulum pellentesque posuere lorem non aliquam. Mauris eleifend eleifend
    felis aliquet ornare. Vestibulum porta velit at elementum elementum.</p>

