---
title: Investors
intro: We are excited to invest in Kingdom-minded people to create gospel-centered products and technologies. Are you?
layout: src/templates/layouts/people.hbs
sub1: Partnership
paragraph1: Are you the owner of a business, organization, or ministry? Join forces with Theotech to accelerate the gospel.
link1: #footer-wrapper
sub2: Donate
paragraph2: Help Theotech by supporting us financially!
link2: #footer-wrapper
sub3: Contact Us
paragraph3: We'd love to hear from you!
link3: "#footer-wrapper"
---
<p>
    How does one measure the price of prayer, salvation, or unhindered access to the Word of God? We believe these things are priceless.
</p>
<p>
    At Theotech, we start with God as our customer, and work backwards to build and create technologies and businesses.
    Our vision is to invest in Kingdom outcomes, and by doing so, bless the world with our creations.

</p>
<p>
    Theotech's philosophy of investment hinges on accountability, transparency, and stewardship. The truth is Theotech,
    just like any company, will need money and resource to function properly. We will be up-front and
    honest with our spending and earnings with investors like you.

</p>
<p>
    We are excited in our work, and we hope you will partner with us to share in our joy of advancing the Gospel and
    bringing the Kingdom of Heaven on earth.

</p>
<!--
<p>
    [Notes: we want to create the atmosphere of excitement. We want you to feel excited to invest in us. We want to
    convince you that there is nowhere else you want to donate to, because of the Kingdom mindset / outreach]
</p>
-->
