---
title: Ministry Leaders
intro: Activate and unleash your congregation to passionately use their gifts for the gospel.
layout: src/templates/layouts/people.hbs
sub1: Equip the Saints
photo1: "images/equip.jpg"
paragraph1: At Theotech's academy, we provide resources to help understand and unleash your members for the Gospel.
link1: academy.html
sub2: Be Inspiration and Encouragement
photo2: "images/inspire.jpg"
paragraph2: Don't bear your ministry alone. See how Theotech community can be a resource for your congregation.
link2: community.html
sub3: Examples of using gifts
photo3: "images/apply.jpg"
paragraph3: Theotech is developing technologies to help serve the body of Christ. Check them out here!
link3: products.html
---

<p>What would it look like if pastors and church ministers encouraged their church members to actively and passionately
    apply their gifts in their respective vocational, personal, and spiritual life?</p>
<p>At Theotech, we believe that “equipping the saints” is a critical key in technology entrepreneurship for the gospel.</p>
<p>We assume that most of your congregation works at a corporate company or business outside of the church. While we
    believe it is important for members to participate and be involved within the church, we want to help ministry
    leaders understand and cultivate workers who can glorify Christ at their job.</p>
<p>Theotech is excited to develop and create tools to help teach ministry leaders to understand and equip their flock
    to impact the world around them. </p>
<!--
<p>Other notes:
    Big Picture Vision: Activating your church / congregation
    Unleash members to use personal gifts for the gospel.
    Teach ministry leaders to empathize with members who work in industry. Understanding that a job is a job, but that
    one can glorify Christ in his/her work
    Maybe church isn't the best plan to use gifting. How to use gift for the greater impact
    Theotech: What we will do is create tools to teach ministry leaders to understand and know their flock
    i.e. Ceaseless is a product that could help ministry leaders remember and care for everyone.
</p>
-->