---
title: Ministry Leaders
intro: Activate and unleash your congregation to passionately use their gifts for the Gosple
layout: src/templates/layouts/people.hbs
sub1: Equip the Saints
paragraph1: Learn how to unleash your members for the Gospel
link1: academy.html
sub2: Examples of using gifts
paragraph2: See how Theotech community can be a resource for your congregation
link2: community.html
sub3: Inspiration and Encouragement to not bear your ministry alone
paragraph3: Technologies exist and are available to help serve the body of Christ
link3: products.html
---

<p>Big Picture Vision: Activating your church / congregation</p>
<p>Unleash members to use personal gifts for the gosple.</p>
<p>Teach ministry leaders to empathize with members who work in industry. Understanding that a job is a job, but that
one can glorify Christ in his/her work</p>
<p>Maybe church isn't the best plan to use gifting. How to use gift for the greater impact</p>
<p>Theotech: What we will do is create tools to teach ministry leaders to understand and know their flock</p>
<p>i.e. Ceaseless is a product that could help ministry leaders remember and care for everyone. </p>