---
title: Students and Volunteers
intro: Discover what God has buried in you
layout: src/templates/layouts/people.hbs
sub1: Theotech's Academy
photo1: "images/partnership.jpg"
paragraph1: Get training in the areas of ministry, entrepreneurship, and technologies
link1: academy.html
sub2: Community
photo2: "images/donate.jpg"
paragraph2: Looking for a mentor, opportunities, open source projects, or jobs? Connect with people and work on projects that matter
link2: community.html
sub3: Contact Us
photo3: "images/contact.jpg"
paragraph3: Got a question? Interested in a apprenticship or internship at Theotech? Let us know!
link3: "#footer-wrapper"
---

<p>Have you ever wondered why you learn what you learn? Is there a greater purpose or extended vision beyond just the
    next step in life?</p>
<p>There is good news! God is preparing you to do amazing things! At Theotech, we want to help you discover and develop
    the potential that God has locked inside of you.</p>
<p>Because everyone is created uniquely, we want to help you explore and discover your gifts and passions not only in
    technology, but in business, media, creativity, etc… Theotech’s academy is a great place to start. You can develop
    the necessary skills and the Kingdom-mindset that Theotech envisions. Then, check out our online community and start
    applying what you know to cool ideas and awesome projects. </p>
<p>Remember, “It is the glory of God to conceal a matter; to search out a matter is the glory of kings.”
    (Proverbs 25:2). Are you ready to search out what matters most?</p>

<!-- Notes
Notes:
Vision: God has gifted you with great potential, so discover and develop your gifting and passion
Ever wonder why you learn what you learn? Is there a greater purpose or extended vision beyond just the next step?
Good news: God is preparing you to do amazing things!
At Theotech, we want to help you answer the questions, such as "What makes Gospel-centered work unique?
TE4G created the Academy to learn the necessary skills and develop the Kingdom-mindset and the TE4G vision. Then apply what you know by collaborating or starting your own projects in the community page
Because everyone is gifted uniquely, TE4G wants to help you explore your gifts and passions not just in tech, but in business, media, creatives, etc...
Possible hands on work at Theotech include apprenticeship, mentorship, and internship. (contact Chris for details)
-->