---
title: Students and Volunteers
intro: Discover what God has burried in you
layout: src/templates/layouts/people.hbs
sub1: Theotech's Academy
paragraph1: Get training in the areas of ministry, entrepreneurship, and technologies
link1: academy.html
sub2: Community
paragraph2: Looking for a mentor, opportunities, open source projects, or jobs? Connect with people and work on projects that matter
link2: community.html
sub3: Contact Us
paragraph3: We'd love to hear from you!
link3: "#footer-wrapper"
---

<p>Vision: God has gifted you with great potential, so discover and develop your gifting and passion</p>
<p>Ever wonder why you learn what you learn? Is there a greater purpose or extended vision beyond just the next step?</p>
<p>Good news: God is preparing you to do amazing things! </p>
<p>At Theotech, we want to help you answer the questions, such as "What makes Gospel-centered work unique?</p>
<p>TE4G created the Academy to learn the necessary skills and develop the Kingdom-mindset and the TE4G vision.
Then apply what you know by collaborating or starting your own projects in the community page</p>
<p>Because everyone is gifted uniquely, TE4G wants to help you explore your gifts and passions not just in tech, but in
business, media, creatives, etc...</p>
<p>Possible hands on work at Theotech include apprenticeship, mentorship, and internship. (contact Chris for details)</p>