---
title: Technologists
intro: Creating technology for the gospel.
layout: src/templates/layouts/people.hbs
sub1: Learn from or contribute to learning
paragraph1: If you want to learn a new tech skill, or if you are knowledgeable in a tech area, learn or contribute at the Academy
link1: academy.html
sub2: Collaborate and Build
paragraph2: Our community provides open source projects, support community, and example products
link2: community.html
sub3: Contact Us
paragraph3: Get the latest info on meetups, hackathons, and events
link3: "#footer-wrapper"
---

<p>There is no doubt that software development and technological advancements have made life more connected and
    convenient. From the behemoth software companies like Microsoft, Facebook and Google to the small garage startups,
    new technologies and software ideas are being created, implemented, and tested. </p>
<p>So, what makes gospel-centered technologies so valuable and unique? At Theotech, everything we build, invent, and
    create is reversed engineered by a principle that God is our ultimate customer. </p>
<p>We can’t accelerate the gospel on our own. It takes a community of technologists, entrepreneurs, and ministers to
    create ideas, build awesome stuff, and ultimately revolutionize the way we view technology.</p>

<!--

Notes:
Vision/Purpose: Technology for the Gospel
What makes Gospel-tech unique? How can we invet to accelerate the Gospel?
Collaborate with others to build awesome stuff for the kingdom.
Learn from the best and share what you know
We want you to be activated Christians within your company and school. Encourage and support one another to succeed in your company
Infuse gospel values and lead in Christ-like views.

-->