---
title: Technologists (aka hackers!)
intro: What makes Gospel-centered technologies so valuable and unique?
layout: src/templates/layouts/people.hbs
sub1: Learn from or contribute to learning
paragraph1: If you want to learn a new tech skill, or if you are knowledgeable in a tech area, learn or contribute at the Academy
link1: academy.html
sub2: Collaborate and Build
paragraph2: Our community provides open source projects, support community, and example products
link2: community.html
sub3: Contact Us
paragraph3: Get the latest info on meetups, hackathons, and events
link3: "#footer-wrapper"
---

<p>Vision/Purpose: Technology for the Gospel</p>
<p>What makes Gospel-tech unique? How can we invet to accelerate the Gospel?</p>
<p>Collaborate with others to build awesome stuff for the kingdom.</p>
<p>Learn from the best and share what you know</p>
<p>We want you to be activated Christians within your company and school. Encourage and support one another to succeed in your company</p>
<p>Infuse gospel values and lead in Christ-like views.</p>
