---
title: Accelerating the Gospel through technology 
layout: src/templates/layouts/no-sidebar.hbs
summary: Written April 3rd, 2013 
---
<div class="wrapper">
    <header class="major">
            <h2>{{title}}</h2>
            <p>
                {{summary}}
            </p>
        </header>

    <section class="container" id="backstory">
	<div class="box">
		{{md 'src/content/backstory.md'}}
	</div>
    </section>
</div>
