---
title: Frequently asked questions 
layout: src/templates/layouts/no-sidebar.hbs
summary: Teaching one another what you know 
---
<div class="wrapper">
    <section class="container" id="faq">
	<div class="box">
		{{md 'src/content/faq.md'}}
	</div>
    </section>
</div>
