<div class="wrapper">
    <section class="container">
	    {{md 'src/content/intro.md'}}
    </section>
</div>

<!-- Promo -->
<div id="promo-wrapper">
    <section id="promo">
        <h2>You're not alone!</h2>
	<p>Join a community of people leveraging their gifts to accelerate the gospel.</p>
        <a href="http://community.theotech.org/register" class="button">Click here to join our community</a>
    </section>
</div>

<!-- Features 1 -->
<div class="wrapper" id="people1">
    <div class="container">
        <div class="row">
            <section class="6u feature">
                <div class="image-wrapper first">
                    <a class="image featured first"><img src="images/investor2.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Investors</h2>
                </header>
                <p>Invest in outcomes money can't buy and unleash the next generation of Kingdom-minded laborers to bless the world.</p>
                <ul class="actions">
                    <li><a href="investors.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="6u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/entrepreneur2.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Entrepreneurs</h2>
                </header>
                <p>Pursuing God's call isn't easy. Thankfully you're not alone. Get the support you need from skillful, humble, passionate, like-minded people.</p>
                <ul class="actions">
                    <li><a href="entrepreneur.html" class="button">More Info</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>

<!-- Features 2 -->
<div class="wrapper">
    <section class="container">
        <div class="row features">
            <section class="4u feature">
                <div class="image-wrapper first">
                    <a class="image featured"><img src="images/ministry2.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Ministry Leaders</h2>
                </header>
                <p>Activate your congregation to unleash their gifts for the Gospel.
                    Connect them with opportunities they'll love combining their passion with God's call.</p>
                <ul class="actions">
                    <li><a href="ministry.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/technologist2.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Technologists</h2>
                </header>
                <p>Build awesome stuff that accelerates the Gospel while blessing the world at large. Learn from the best and teach what you know.</p>
                <ul class="actions">
                    <li><a href="technologist.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/student2.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Students/Volunteers</h2>
                </header>
                <p>Develop the skills you want to learn by contributing to real-world projects. Learn from the best and figure out how to leverage your gifts for the Gospel.</p>
                <ul class="actions">
                    <li><a href="student.html" class="button">More Info</a></li>
                </ul>
            </section>
        </div>
    </section>
</div>

<!-- More Links -->
<!--
<div class="wrapper" id="more">
    <section class="container">
        <header><h2 style="text-align: center; font-size: 3em">More Resources</h2></header>
        <div class="row features">
            <section class="4u feature">
                <div class="image-wrapper first">
                    <a class="image featured"><img src="images/tech.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Products</h2>
                </header>
                <p>Check out what's cooking over at Theotech</p>
                <ul class="actions">
                    <li><a href="products.html" class="button">See Products</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/academy.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Academy</h2>
                </header>
                <p>This is where you can learn a bunch of stuff</p>
                <ul class="actions">
                    <li><a href="academy.html" class="button">Let's Learn!</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/donate.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Donate</h2>
                </header>
                <p>Help Theotech out by donating and spreading the word! </p>
                <ul class="actions">
                    <li><a href="#footer-wrapper" class="button">Donate</a></li>
                </ul>
            </section>
        </div>
    </section>
<div>-->

<!-- Footer -->
{{> footer}}
