
<!-- Features 1 -->
<div class="wrapper" id="people1">
    <div class="container">
        <div class="row">
            <section class="6u feature">
                <div class="image-wrapper first">
                    <a class="image featured first"><img src="images/investor.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Investors</h2>
                </header>
                <p>Invest in the next generation of Kingdom-minded workers to bless the world.</p>
                <ul class="actions">
                    <li><a href="investors.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="6u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/entrepreneur.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Entrepreneurs</h2>
                </header>
                <p>Pioneer the next innovation with other like-minded, Gospel-centric people.</p>
                <ul class="actions">
                    <li><a href="entrepreneur.html" class="button">More Info</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>


<!-- Features 2 -->
<div class="wrapper">
    <section class="container">
        <div class="row features">
            <section class="4u feature">
                <div class="image-wrapper first">
                    <a class="image featured"><img src="images/ministry.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Ministry Leaders</h2>
                </header>
                <p>How can you activiate your congregation to unleash their gifts for the Gospel?
                    Equip your saints to do the work of Christ within and outside the church.</p>
                <ul class="actions">
                    <li><a href="ministry.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/technologist.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Technologists</h2>
                </header>
                <p>What makes Gospel-centered technology unique? How can we invent to accelerate the Gospel
                    and build awesome stuff? Learn and share with others here!</p>
                <ul class="actions">
                    <li><a href="technologist.html" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/student.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Students/Volunteers</h2>
                </header>
                <p>Is there a greater purpose behind learning? How do I apply what I know? Learn more about
                    how Theotech can help you in your educational journey. </p>
                <ul class="actions">
                    <li><a href="student.html" class="button">More Info</a></li>
                </ul>
            </section>
        </div>
    </section>
</div>

<!-- Promo -->
<div id="promo-wrapper">
    <section id="promo">
        <h2>Sign up and Join our online Community!</h2>
        <a href="community.html" class="button">Sign Up!</a>
        <a href="community.html" class="button">Log in!</a>
    </section>
</div>

<!-- More Links -->
<div class="wrapper" id="more">
    <section class="container">
        <header><h2 style="text-align: center; font-size: 3em">More Resources</h2></header>
        <div class="row features">
            <section class="4u feature">
                <div class="image-wrapper first">
                    <a class="image featured"><img src="images/tech.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Products</h2>
                </header>
                <p>Check out what's cooking over at Theotech</p>
                <ul class="actions">
                    <li><a href="products.html" class="button">See Products</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/academy.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Academy</h2>
                </header>
                <p>This is where you can learn a bunch of stuff</p>
                <ul class="actions">
                    <li><a href="academy.html" class="button">Let's Learn!</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="images/donate.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>Donate</h2>
                </header>
                <p>Help Theotech out by donating and spreading the word! </p>
                <ul class="actions">
                    <li><a href="#footer-wrapper" class="button">Donate</a></li>
                </ul>
            </section>
        </div>
    </section>
    <section class="container" id="faq">
	<div class="box">
		{{md 'src/content/faq.md'}}
	</div>
    </section>
</div>

<!-- Footer -->
{{> footer}}
