---
layout: src/templates/layouts/no-sidebar.hbs
products:
- title:
    SPF.IO
  tagline:
    Deliver amazing multilingual experiences 
  link:
    http://spf.io
- title:
    Ceaseless
  tagline:
    Experience the joy of praying for others
  link:
    http://ceaselessprayer.com
- title:
    Project FIG
  tagline:
    Navigate the Bible in any language with your voice 
  link:
    http://fig.theotech.org
---
<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Nav -->
        {{> nav}}

    </div>
</div>

<div class="wrapper">
	<div class="container" id="main">
		<header>
			<h2>Products</h2>
			<p>Marvelous inventions we hope will accelerate the gospel and bless the world.</p>
		</header>

		<div class="row features">
		{{#each products}}
		    <section class="4u feature">
			<div class="image-wrapper first">
			    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
			</div>
			<header>
			    <h3>{{title}}</h3>
			</header>
			<p>{{tagline}}</p>
			<ul class="actions">
			    <li><a href="{{link}}" class="button">More Info</a></li>
			</ul>
		    </section>
		{{/each}}
		</div>
	</div>
</div>
