---
layout: src/templates/layouts/no-sidebar.hbs
---
<body class="no-sidebar">

<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Nav -->
        {{> nav}}

    </div>
</div>

<!-- Main -->
<div class="wrapper">
    <div class="container" id="main">

        <!--Product Header -->
        <header>
            <h2 style="text-align: center; font-size: 3em">Products</h2>
            <p style="text-align: center; font-size: 2em; color: black">
                Theotech proudly presents developing technologies
            </p>
        </header>

    </div>
</div>

        <!-- Content -->
{{> body}}
